*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* common css start */
.alignment{
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
}
p{
    color: darkslategray;
}
/* common css end */
/* menu css start */
.alignment .menu{
    float: right;
    padding: 40px;
}
.alignment .menu a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 700;
}
/* menu css end */
/* main area css start */
.main-area{
    padding: 20px 0px;
}
.main-area .half-width{
    width: 40%;
    float: left;
}
.half-width h1{
    font-size: 50px;
    color: #363958;
}
.dev-name{
    color: tomato;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    color: #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 25px;
}
.half-width img{
    width: 100%;
}
.half-width h2{
    font-size: 40px;
    color: #363958;
    margin-bottom: 20px;
}
.mrleft{
    margin-left: 10%;
}
/* main top css end */
/* main bottom css start */
.mleft{
    margin-top: 5%;
    margin-left: 15%;
}
/* main bottom css end */
/* working project css start */
.working-area{
    background-color: #F8F9FC;
    padding: 100px 0;
}
.working-project .working-content{
    width: 31%;
    float: left;
    padding: 5px;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 10px;
}
.working-project h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}
.working-project h3{
    text-align: center;
    text-align: center;
    font-weight: bold;
}
.orangered{
    color: orangered;
}
.working-content img{
    width: 100%;
}
.work-middle{
    margin-left: 2%;
    margin-right:  2%;
}
/* working project css end */
.Inquiry-area{
    padding: 30px 0px;
}
.Inquiry{
    background-image: url(../images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 300px;
}
.Inquiry span{
    font-size: 40px;
}
.Inquiry a{
    float: right;
}