*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* common css start */
.alignment{
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
}
p{
    color: darkslategray;
    text-align: justify;
}
/* common css end */
/* menu css start */
.alignment .menu{
    float: right;
    padding: 40px;
}
.alignment .menu a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 700;
}
/* menu css end */
/* main area css start */
.main-area{
    padding: 20px 0px;
}
.main-area .half-width{
    width: 40%;
    float: left;
}
.half-width h1{
    font-size: 50px;
    color: #363958;
}
.dev-name{
    color: tomato;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    color: #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 25px;
}
.half-width img{
    width: 100%;
}
.half-width h2{
    font-size: 40px;
    color: #363958;
    margin-bottom: 20px;
}
.mrleft{
    margin-left: 10%;
}
/* main top css end */
/* main bottom css start */
.mleft{
    margin-top: 5%;
    margin-left: 15%;
}
/* main bottom css end */
/* working project css start */
.working-area{
    background-color: #F8F9FC;
    padding: 100px 0px 150px;
}
.working-area h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
}
.working-project .working-content{
    width: 30%;
    float: left;
    padding: 10px;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 15px;
}
.working-project h3{
    text-align: center;
    text-align: center;
    font-weight: bold;
}
.orangered{
    color: orangered;
}
.working-content img{
    width: 100%;
}
.work-middle{
    margin-left: 2%;
    margin-right:  2%;
}
/* working project css end */
/* Inquiry-area css start */
.Inquiry-area{
    width: 50%;
    margin: 50px 0;
    margin-left: 21%;
    overflow: hidden;
    background-image: url(../images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 70px;
}
.Inquiry-left, .Inquiry-right{
    width: 50%;
    float: left;
}
.Inquiry-left h3{
    color: #fff;
    font-size: 40px;
}
.Inquiry-right .btn{
    margin: 0;
    float: right;
}
/* Inquiry-area css end */
/* footer part css start */
.footer-area{
    text-align: center;
    padding: 50px 0px 100px;
}
.foot-text h3{
    color: darkslategray;
    text-transform: uppercase;
}
.foot-text h4{
    color: #363958;
    font-size: 20px;
    margin: 15px 0px;
}
.foot-icons img{
    width: 60px;
    margin-right: 10px;
}
/* footer part css end */
